aiofiles==23.2.1
dash==2.9.3
dash_core_components==2.0.0
dash_html_components==2.0.0
Django==4.2.6
django_eventstream==4.5.1
django_plotly_dash==2.2.2
gunicorn==21.2.0
matplotlib>=3.7.0
numpy>=1.24.0
pandas>=2.0.0
plotly>=5.18.0
scipy>=1.11.4
setuptools>=68.0.0
uvicorn[standard]==0.24.0
whitenoise==6.6.0

