{% load static %}

<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>home</title>
    <!-- <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
</head>

<body style="border-color: var(--bs-secondary-bg);background: var(--bs-body-color);">
    <header>
        <h1 style="color: var(--bs-teal);margin: 15px;">NP Analysis WebApp</h1>
    </header>
    <p style="color: var(--bs-teal);margin: 15px;">Import your files here:</p>
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="padding-right: 396px;margin-right: 0px;border-right-color: var(--bs-secondary-color);"><button class="btn btn-primary" type="button" style="color: var(--bs-btn-disabled-color);border-right-color: var(--bs-btn-bg);background: var(--bs-teal);width: 149px;">Import .csv File(s)</button><button class="btn btn-primary" type="button" style="padding-right: 43px;text-align: center;border-right-color: var(--bs-btn-bg);background: var(--bs-teal);width: 149px;position: sticky;">Process Data</button></div>
            <div class="col-md-6">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="background: var(--bs-secondary-color);color: var(--bs-table-bg);">Imported Files</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="background: var(--bs-table-striped-bg);color: var(--bs-table-bg);">File 1</td>
                            </tr>
                            <tr>
                                <td style="background: var(--bs-table-striped-bg);color: var(--bs-table-bg);">File 2</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>