{% extends "base.html" %}
{% load plotly_dash %}
{% load static %}

<link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">

<!DOCTYPE html>

{% block content %}
<div style="border: 2px solid blue;"> 
<!--<div>-->
    <h1>Plotly dash app.</h1>
    {%plotly_app name="SimpleExample" ratio=.45 %}
    <!-- If you don't add a 'ratio=1, it doesn't display properly. Don't know why. 
        Also,The ratio value represents the width relative to the height, so a ratio of 1.5 means the width is 1.5 times the height. 
        In other words, it's a 3:2 aspect ratio. -->
</div>

<div>
    <h1>Import Experiment Data</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ experiment_form.as_p }}
        <!-- <button type="submit">Submit</button> -->
        <form>
            {% csrf_token %}
            <button id="submitForm"  class="btn btn-info" type="submit" style="margin-top: 2px;margin-right: 10px;">Submit Data</button>
        </form>
    </form>
</div>
{% endblock %}

{% block loadingbardash %}
    {% plotly_app name="LoadingBar" ratio=1 %}
    <button type="button" class="btn btn-outline-secondary">Secondary</button>
{% endblock %}
